<section class="container">
  <div class="section">
    <div class="row">
      <div class="col s12 m8 offset-m2 l8 offset-l2 ">
       <div class="card">
         <div class="card-content">
      
                <%= @userat.UserID %>

                <%= collection_select(:CustomerID, @hotels, :CustomerID, :CustomerName, {prompt: "Select a property"}, {class: "select-two select-two-style"}) %>
          
              
          </div>
        </div>
      </div>
    </div>
  </div>
</section>