
<section class="container">
  <div class="section">
    <div class="card">
      <div class="card-content"> 
        <div class="row">         
          <div class="col s12 m10 offset-m1 ">            
            <%= form_tag flashRefineSearchRateTypes_path do %>
              <!-- Collection of Hotels returns 2 params= :CustomerName & :CustomerID -->
              <div class="row">
                <div class="col s12 m4">                 
                  <%= select(:RateTypeDescShort, :RateTypeID, @rateTypes.map{|r| [ r[1], r[0] ]}, {prompt: "Select a Rate Type"}, {class: "select-two select-two-style"}) %>
                </div>                 
              </div>
           </div>

              <div class="row">
               <div class="col s12 m8 offset-m1">
                  <div class="row">
                   <h6>Best Available should...</h6>
                  </div>
                </div>
                <div class="col s12 m8 offset-m1">                
                  <p>
                    <input class="with-gap" name="group1" type="radio" id="test1" />
                    <label for="test1">Include Advance Purchase/Non-Refundable Rates</label>
                  </p>
                  <p>
                    <input class="with-gap" name="group1" type="radio" id="test2" />
                    <label for="test2">Exclude Advance Purchase/Non-Refundable Rates</label>
                  </p>
                  <p>
                    <input class="with-gap" name="group1" type="radio" id="test3"  />
                    <label for="test3">Separately show both Best Available and Lowest Restricted Rates (Advance Purchase/Non-Refundable)</label>
                  </p>
                </div>
              </div>
              <div class="row">  
              </div>
             
               
              <div class="row">
                <div class="col s2 offset-s5">
                  <div class=" actions waves-effect waves-light center-align btn">
                    <%= submit_tag "Continue"%>
                  </div>
                </div>            
              </div>
            <% end %>   
          </div>
        </div>
      </div>
    </div>
  </div>
</section>