<!-- Login Section -->
<section id="login" class="container">
  <div class="section ">
    <div class="row ">
      <div class="col s12 m8 offset-m2 l8 offset-l2 ">
       <div class="card ">
         <div class="card-content">
          <h2>Log in</h2>
            <%= form_tag "/static_pages/welcome" do %>
              <div class="field">
                <label>User Name</label><br />
                <%= text_field_tag 'user_name' %>
              </div>

              <div class="field">
                <label>Password</label><br />
                <%= password_field_tag 'password' %>
              </div>
              <div class="actions waves-effect waves-light btn">
                <%= submit_tag "Login" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
