<!-- Header and Navbar -->
	<header>
		<!-- Side Navbar for user not signed in -->
      	<% if current_page?('/static_pages/welcome') %>
      		<ul class="side-nav fixed hide-on-med-and-down section table-of-contents">
				<li><a href="#page-top" class="brand-logo"><%=image_tag "AnyRateRedesign2011.jpg", class: "brand-logo"%></a></li>
	    		<li><a class="waves-effect waves-purple" href="#login">Log in</a></li>
	    		<li><a class="waves-effect waves-purple" href="#about">About</a></li>
	    		<li><a class="waves-effect waves-purple" href="#contact">Contact</a></li>
	  		</ul>
	  		<ul id="slide-out" class="side-nav section table-of-contents">
	  			<li><a href="#page-top" class="brand-logo"><%=image_tag "AnyRateRedesign2011.jpg", class: "brand-logo"%></a></li>
	   			<li><a class="waves-effect waves-purple" href="#login">Log on</a></li>
	    		<li><a class="waves-effect waves-purple" href="#about">About</a></li>
	    		<li><a class="waves-effect waves-purple" href="#contact">Contact</a></li>
	 		</ul>
      	<% end %>

      	<!-- Side Navbar for user signed in -->
      	<% if not current_page?('/static_pages/welcome') %>
			<ul class="side-nav fixed hide-on-med-and-down">
				<li><a href="#!" class="brand-logo"><%=image_tag "AnyRateRedesign2011.jpg", class: "brand-logo"%></a></li>
	    		<li class='white-box'></li>
	    		<li class='orange color-box'></li>
	    		<li class='yellow color-box'></li>
	    		<li class='green color-box'></li>
	  		</ul>
	  		<ul id="slide-out" class="side-nav">
	   			<li><a href="#!" class="brand-logo"><%=image_tag "AnyRateRedesign2011.jpg", class: "brand-logo"%></a></li>
	   			<li class='white-box'></li>
	    		<li class='orange color-box'></li>
	    		<li class='yellow color-box'></li>
	    		<li class='green color-box'></li>
	 		</ul>
 		<% end %>

 		<!-- Menu button -->
 		<div class="menu-container yellow z-depth-2">
 			<div class='row'>
 			<div class='col s1'>
  				<a href="#" data-activates="slide-out" class="button-collapse hide-on-large-only"><i class="small mdi-navigation-menu "></i></a>
  			</div>
  			<div class='col s1 offset-9 yellow z-depth-3'>
  			</div>
  			<div class='col s1 offset-10 green z-depth-4'>
  			</div>
  		</div>

    </header>